bin/* linguist-vendored
build/* linguist-vendored
cmake/* linguist-vendored
documents/* linguist-vendored
images/* linguist-vendored
modules/* linguist-vendored
temp/* linguist-vendored
tools/* linguist-vendored
