[submodule "build"]
	path = build
	url = https://github.com/chronoxor/CppBuildScripts.git
	branch = master
[submodule "cmake"]
	path = cmake
	url = https://github.com/chronoxor/CppCMakeScripts.git
	branch = master
[submodule "modules/asio"]
	path = modules/asio
	url = https://github.com/chriskohlhoff/asio.git
	branch = master
[submodule "modules/catch"]
	path = modules/catch
	url = https://github.com/philsquared/Catch.git
	branch = master
[submodule "modules/CppBenchmark"]
	path = modules/CppBenchmark
	url = https://github.com/chronoxor/CppBenchmark.git
	branch = master
[submodule "modules/CppCommon"]
	path = modules/CppCommon
	url = https://github.com/chronoxor/CppCommon.git
	branch = master
[submodule "modules/nanomsg"]
	path = modules/nanomsg
	url = https://github.com/nanomsg/nanomsg.git
	branch = master
[submodule "modules/websocketpp"]
	path = modules/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
	branch = master
