[submodule "build"]
	path = build
	url = https://github.com/chronoxor/CppBuildScripts.git
	branch = master
[submodule "cmake"]
	path = cmake
	url = https://github.com/chronoxor/CppCMakeScripts.git
	branch = master
[submodule "modules/asio"]
	path = modules/asio
	url = https://github.com/chronoxor/asio.git
	branch = master
[submodule "modules/cpp-optparse"]
	path = modules/cpp-optparse
	url = https://github.com/weisslj/cpp-optparse.git
	branch = master
[submodule "modules/CppBenchmark"]
	path = modules/CppBenchmark
	url = https://github.com/chronoxor/CppBenchmark.git
	branch = master
[submodule "modules/CppCommon"]
	path = modules/CppCommon
	url = https://github.com/chronoxor/CppCommon.git
	branch = master
[submodule "modules/Catch2"]
	path = modules/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = master
